html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family:'Economica', helvetica;
	padding: 20px;
	background-color: white;

	}


	#container{
		width: 100%;
		height: 100%;
	}


	
	#contact{
		background-color: #D95B43;
		color: white;
		height: 58%;
		width: 38%;
		float: right;
		margin: 1%;
		padding: 10%;
		font-size: 80px;
		text-align: center;
	}

	#foodstuffs{
		font-size: 47px;
		font-family: 'Pacifico', cursive;
	}

	#thankGod{
		font-size: 57px;			
		font-family: 'Amatic SC', cursive;

	}

	#beerMenu{
		font-family: 'Varela Round', sans-serif;
		background-color: #542437;
		color: white;
		width: 38%;
		height: 59%;
		float: right;
		margin: 1%;
		font-size: 32px;
		text-align: center;
		padding: 1%;
		padding-top: 4%;
	}

	#menu{
		
		background-image: url('images/menuimage.jpg');
		-webkit-background-size: cover;
  		-moz-background-size: cover;
	 	-o-background-size: cover;
	 	 background-size: cover;
		width: 38%;
		height: 58%;
		float: left;
		margin: 1%;
		padding: 9%;
		font-size: 80px;
		text-align: center;
		color: white;
		font-family: 'Pacifico', cursive;
	}

	#menu a:link{
		text-decoration: none;
		color: white;
	}

	#menu a:visited{
		text-decoration: none;
		color: white;
	}


	#foodMenu {		
		background-color: #53777A;
		width: 38%;
		height: 58%;
		float: left;
		margin: 1%;
		color: white;
		font-size: 25px;
		text-align: center;
		padding: 1%;
		font-family: 'Montserrat', sans-serif;
	}

	h2{
		font-family: 'Pacifico', cursive;
		font-size: 40px;
	}

	#intro{
		background-color: white;
		color: #ff8d00;
		font-size: 20px;
		padding: 2px;
		font-family: 'Montserrat', helvetica;
		width: 54%;
		height: 28%;
		margin: 1%;
		float: left;
	}

	#picLeftMenu{
		background-image: url('images/kimchislider.jpeg');
		-webkit-background-size: cover;
  		-moz-background-size: cover;
	 	-o-background-size: cover;
	 	 background-size: cover;
		color: white;
		width: 24%;
		height: 28%;
		float: left;
		margin: 1%;
	}

	#picRightMenu{
		background-image: url('images/pickles.jpeg');
		-webkit-background-size: cover;
  		-moz-background-size: cover;
	 	-o-background-size: cover;
	 	background-size: cover;
		color: white;
		width: 28%;
		height: 28%;
		float: left;
		margin: 1%;	
	}



	#facebook{
		background-image: url(images/facebook.png);
		-webkit-background-size: cover;
  		-moz-background-size: cover;
	 	-o-background-size: cover;
	 	background-size: no-repeat; 
	 	width: 100px;
	 	height: 100px;
		float: left;
		margin: 1%;
	}

	#instagram{
		background-image: url('images/instagram.png');
		-webkit-background-size: cover;
  		-moz-background-size: cover;
	 	-o-background-size: cover;
	 	background-size: no-repeat;
	 	width: 100px;
	 	height: 100px; 
		float: left;
		margin: 1%;
	 	
	}

	#foursquare{
		background-image: url(images/foursquare.png);
		-webkit-background-size: cover;
  		-moz-background-size: cover;
	 	-o-background-size: cover;
	 	background-size: no-repeat; 
	 	width: 100px;
	 	height: 100px;
		float: left;
		margin: 1%;
	 
	}

	#twitter{
		background-image: url(images/twitter.png);
		-webkit-background-size: cover;
  		-moz-background-size: cover;
	 	-o-background-size: cover;
	 	background-size: no-repeat; 
	 	width: 100px;
	 	height: 100px;
		float: left;
		margin: 1%;
		
	 	
	}

	#gallery{
		font-family: 'Pacifico', cursive;
		background-image: url('images/galleryimage.jpg');
		-webkit-background-size: cover;
  		-moz-background-size: cover;
	 	-o-background-size: cover;
	 	 background-size: cover;
		height: 100%;
		width: 58%;
		float: right;
		margin: 1%;
		padding: 9%;
		font-size: 80px;
		text-align: center;
	}

	#gallery a:link{
		text-decoration: none;
		color: white;

	}

	#gallery a:visited{
		text-decoration: none;
		color: white;
	
	}



	img{
		padding-bottom: 15px;
	}

	#beerList{
		background-color: #C02942;
		height: 58%;
		width: 58%;
		float: right;
		margin: 1%;
		color: white;
		font-family: 'Varela Round', sans-serif;
		padding: 3%;
		font-size: 50px;
		text-align: center;
		padding-top: 10%;
	}

	a:hover{
		cursor: pointer;
}
