html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media (min-width: 480px){


	* {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	}

	body{
		padding: 20px;
		background-color: white;
	}


	#container{
		width: 100%;
		height: 700px;
	}

/*
	#containerTwo{
		width: 100%;
		height: 700px;
		display: inline-block;
	}*/


	#contact{
		background-color: purple;
		width: 40%;
		height: 100.5%;
		padding-right: 20px;
		float: left;
		margin-right: 1%;

	}

	#menu{
		background-color: red;
		width: 58%;
		height: 25%;
		float: left;
		margin-left: 1%;
		margin-bottom: 1%;
	}

	#facebook{
		background-color: yellow;
		width: 25%;
		height: 34%;
		float: left;
		margin: 1%;
	}

	#instagram{
		clear: right;
		background-color: green;
		width: 25%;
		height: 34%;		
		float: left;
		margin: 1%;
		position: relative;
		left: -27%;
		top: 38%;
	}


	#gallery{
		background-color: orange;
		height: 72%;
		width: 31%;
		float: left;
		margin-top: 1%;
		margin-left: 1%;
		position: relative;
		left: 27%;
		top: -37%;
	}
/*
	#footer{
		clear: left;
		width: 100%;
		background-color: blue;
		height: 10%;
	}*/