html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media (min-width: 480px){


	* {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	}

	body{
		padding: 20px;
		background-color: #ECD078;

	}


	#container{
		width: 100%;
		height: 600px;
	}


	
	#contact{
		background-color: #D95B43;
		width: 38%;
		height: 58%;
		float: right;
		margin: 1%;
	}

	#menu {
		background-color: #542437;
		width: 38%;
		height: 58%;
		float: left;
		margin: 1%;
	}

	#intro{
		background-color: red;
		width: 58%;
		height: 28%;
		margin: 1%;
		float: left;
	}

	#facebook{
		background-color: #53777A;
		width: 28%;
		height: 28%;
		float: left;
		margin: 1%;
	}

	#instagram{
		background-color: #C02942;
		width: 28%;
		height: 28%;
		float: left;
		margin: 1%;	
	}


	#gallery{
		background-color: orange;
		height: 58%;
		width: 58%;
		float: right;
		margin: 1%;
	}